.selected {
  height: 300px;
  width: 300px;
}

.selected-thumbnail {
  border: 3px solid lime;
}

.gallery-image {
  height: 40px;
  width: 40px;
}

.former-price {
  text-decoration: line-through;
}

.discount-price {
  color: red;
}

.style-thumbnail {
  border: 1px solid black;
}

.current-style-thumbnail {
  border: 2px solid lime;
}