/* HEADER ELEMS */

#category-name {
  text-align: center;
  background-color: darkcyan;
}

#main-block {
  margin: 2.5em;
}


#header, #description-and-share {
  display: flex;
  flex-direction: row;
  background-color: rgb(230, 241, 181);
  justify-content: space-evenly;
}
#description-and-share {
  background-color: lightblue;
}

#description {
  background-color: burlywood;
}

#share {
  background-color: coral;
}



/* IMAGES */

#images-and-styles {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 60% 40%;
}

#images, #style-select {
  height: 550px;
  background-color: sandybrown;
}

.selected-container {
  height: 450px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* currently selected image */
.selected {
  height: inherit;
}
.selected:hover {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.main-arrow-container-left, .main-arrow-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}

.main-arrow-container-right {
  margin-left: 0;
  margin-right: 1em;
}

.main-arrow {
  color: cornflowerblue;
}

/* expanded view === true */
/* todo */
/* #selected-expand-container {
  (this allows zoom-in)
  overflow: hidden;
}
.selected-expand {
  width: 100%;
}
*/

#carousel {
  /* eventually change width and justify-content properties */
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#gallery {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-evenly;
  background-color: darkgreen;
}

/* later add container to allow aspect ratio like you did for selected image */
.gallery-image {
  height: 40px;
  width: 40px;
}

/* thumbnail corresponding to selected image */
.selected-gallery-image {
  border: 3px solid whitesmoke;
}






/* STYLE SELECT AND CHECKOUT: */

.former-price {
  text-decoration: line-through;
}
.discount-price {
  color: red;
}



#style-select {
  background-color: salmon;
}

#price {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: thistle;
}

#thumbnails {
  background-color: tomato;
}
#style-description {
  color: lightblue;
}

#thumbnail-container {
  background-color: turquoise;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-top: 5px;
}

.style-thumbnail {
  border: 1px solid black;
  border-radius: 30%;
  width: 40px;
  font-size: 8pt;
  padding: 2px;
  margin-left: 2em;
  margin-right: 1.5em;
}

.current-style-thumbnail {
  border: 2px solid lime;
}





