#category-name {
  text-align: center;
}

#main-block {
  margin: 2.5em;
}

#header, #description-and-share {
  display: flex;
  flex-direction: row;
  background-color: rgb(204, 198, 198);
  justify-content: space-evenly;
}

#description-and-share {
  background-color: lightblue;
}

#share {
  text-align: right;
}


#images-and-styles {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 60% 40%;
}

#all-images, #style-select-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: sandybrown;

}
#style-select-panel {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2em;
  background-color: salmon;

}



#carousel-and-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/* currently selected image */
.selected {
  height: 300px;
  width: 300px;
}

.selected-expand {
  width: 100%;
}

/* thumbnail corresponding to selected image */
.selected-thumbnail {
  border: 3px solid lime;
}

.gallery-image {
  height: 40px;
  width: 40px;
}

.former-price {
  text-decoration: line-through;
}

.discount-price {
  color: red;
}

.style-thumbnail {
  border: 1px solid black;
}

.current-style-thumbnail {
  border: 2px solid lime;
}