* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  position: static;
  width: 90%;
  height: 100%;
  overscroll-behavior: none;
}

#app {
  margin: 0 1em;
  width: 100%;
  height: 100%;
}

.carousel {
  display: inline-flex;
  scroll-snap-type: x mandatory;
  padding: 1em;
  margin: 2em;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 500px;
  /* height: 375px; */ 
  /* overscroll-behavior: none; */
  align-content: center;
}

.carousel::-webkit-scrollbar {
  display: none;
}

div.card {
  justify-content: center;
  z-index: 0;
  scroll-snap-align: start;
  display: inline-block;
  margin-right: 1em;
  /* margin-inline-start: 1em; */
  background-color: #eee;
  height: 500px;
  width: 350px;
  position: relative;
}


header.carousel {
  align-content: center;
}

header img {
  z-index: 0;
  height: 350px;
  width: 350px;
  object-fit: cover;
}

button.card {
  background: none;
  font-size: 30px;
  color: white;
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
  z-index: 20;

}

button.card.addToOutfit {
  width: 350px;
  height: 100%;
  font-size: 300px;
  top: auto;
  right: auto;
  padding: auto;

}

footer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 1em;
  align-content: space-between;
  padding: auto ;
  line-height: 1.2em;
  border-bottom-right-radius: 20px;
}

footer p {
  width: 90%;
}

footer p.price-sale {
  color: red;
}

footer p.category {
  letter-spacing: 0.2rem;
  font-weight: bold;
}

footer div.rating {
  padding: 1em 0;
  color: red;
}
