* {
  margin: 0;
  padding: 0;
  border: 0;
  overscroll-behavior: none;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.carousel {
  display: inline-flex;
  scroll-snap-type: x mandatory;
  margin: 1em;
  margin-right: 2em;
  padding: 0 1em;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 500px;
  /* height: 375px; */
  overscroll-behavior: none;
  align-content: center;
}

.carousel::-webkit-scrollbar {
  display: none;
}

div.card {
  justify-content: center;
  z-index: 0;
  scroll-snap-align: start;
  display: inline-block;
  margin-right: 1em;
  /* margin-inline-start: 1em; */
  background-color: #eee;
  height: 500px;
  width: 350px;
  position: relative;

}

header.card {
  align-content: center;
}

header.card img {
  z-index: 0;
  height: 350px;
  width: 350px;
  object-fit: cover;
}

header button.card-btn {
  display: block;
  background: none;
  position: absolute;
  font-size: 40px;
  color: white;
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;


  z-index: 20;
}

/* header button.card-btn:hover {
  transform: scale(1.02);
} */

footer.card {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 1em;
  align-content: space-between;
  padding: auto ;
  line-height: 1.2em;
}

footer.card-info {
  width: 90%;
}

footer p.price-sale {
  color: red;
}

footer p.category {
  letter-spacing: 0.2rem;
  font-weight: bold;
}

footer div.rating {
  color: red;
}
