* {
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 0;
  box-sizing: border-box;
  transition: 250ms ease-in-out;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
}

#related {

  margin: 5%;
  padding: 5%;
}

header.carousel {
  align-items: flex-start;
}

main.carousel {
  align-items: center;
  background-color: rgb(233, 233, 233);
  display: inline-flex;
  scroll-snap-type: x mandatory;
  box-sizing: content-box;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 60vh;
  margin: 1em;
  align-content: center;
  padding: 2%;
  scroll-padding: 1em;
  border-radius: 30px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

div.card {
  box-sizing: content-box;
  border-radius: 20px;
  justify-content: center;
  z-index: 15;
  scroll-snap-align: start;
  display: inline-block;
  margin: 0.5em;
  margin-right: 1em;
  background-color: #f8f8f8;
  height: inherit;
  width: 40vh;
  position: relative;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

div.card > * {
  z-index: 5;
}

header button.card-btn {
  display: block;
  background: none;
  position: absolute;
  font-size: 40px;
  color: rgba(255,255,255,0.4);
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
  z-index: 20;
}


i.fas {
  color: rgb(200,200,200);
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 40px;
  padding: 20px;
}

div.card:hover
i.fas {
  transition: 350ms ease-in-out;
  visibility: visible;
}

i.fas:hover {
  color: orangered;
  transform: scale(1.1);
}

div.card:hover,
header button:hover,
header > button {
  cursor: pointer;
  transform: scale(1.02);
  color: orangered;
  box-shadow: 12.5px 8.5px 10px rgba(0, 0, 0, 0.042),
  60px 80px 80px rgba(0, 0, 0, 0.151);
}


header button:hover {
  transform: scale(1.1);
}

header.card {
  align-content: center;
}

header.card img {
  border-radius: 20px 20px 0 0;
  z-index: 0;
  height: 40vh;
  width: 40vh;
  object-fit: cover;
}

#addToOutfit {
  font-size: 120px;
}

footer.card-info {
  height: 30%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 1em;
  align-content: space-between;
  padding: auto;
  line-height: 1.2em;
}

footer.card-info {
  display: block;
  width: 90%;
}

span.card.prices.original-price {
  text-decoration: line-through;
  font-style: italic;
}

span.card.prices.sale {
  color: orangered;
  font-size: large;
  font-weight: bold;
}

span.card.prices.original-price::before {
  content: 'was  ' ;
}

footer > *:hover {
  filter: brightness(1.2);
}

footer p.category {
  letter-spacing: 0.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

footer div.rating {
  color: rgb(214, 167, 0);
  font-size: large;
}

